{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <header class="main">
        <h1>{{ title }}</h1>
    </header>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="actions">
            <button type="submit" class="button primary">Save Post</button>
            <a href="{% url 'personal_blog:my_posts' %}" class="button">Cancel</a>
        </div>
    </form>
</section>
{% endblock %}
