
{% extends "base.html" %}
{% load crispy_forms_filters %}
{% csrf_token %}
{% load static %}
{% block content %}

							<!-- Content -->
								<section>
								    <div class="forum-post">
                                    <header class="main">
                                        <h2>{{ post.title | safe }}</h2>
                                    </header>
                                        <small>
                                            {{ post.created_on.date }} |&nbsp;
                                            Categories:&nbsp;
                                            {% for category in post.categories.all %}
                                                <a href="{% url 'forum:category' category.name %}">
                                                    {{ category.name }}
                                                </a>&nbsp;
                                            {% endfor %}
                                            Author:
                                            {{ post.author }}
                                        </small>
                                        <p>
                                            {{ post.body | safe | linebreaks }}.
                                        </p>
                                        </div>
								</section>
{% endblock %}