
{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block content %}

        <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h1>superBlog</h1>
                        <p>Tech news, AI & medical imaging, stories, and more.</p>
                    </header>
                </div>
            </section>


        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Latest Contents</h2>
                </header>
                <div class="posts">
                    {% for content in contents %}
                        <article>
                            <a href="#" class="image">
                                 <img src="{{ content.image }}" alt="{{ content.content_name|escape }}">
                            </a>
                            <h3>{{ content.title|escape }}</h3>
                            <p>{{ content.description|escape|safe | slice:":400" }}</p>
                            <ul class="actions">
                                <li><a href="{{ content.link }}" class="button" target="_blank">More</a></li>
                            </ul>
                        </article>
                    {% endfor %}
                </div>
            </section>


{% endblock %}